<link rel="icon" type="image/png" sizes="32x32" href="assets/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="192x192" href="assets/icons/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="512x512" href="assets/icons/android-chrome-512x512.png">
<link rel="apple-touch-icon" sizes="180x180" href="assets/icons/apple-touch-icon.png">
<link rel="stylesheet" href="https://pyscript.net/releases/2026.7.3/core.css" />
<script type="module" src="https://pyscript.net/releases/2026.7.3/core.js"></script>
<script defer src="assets/js/collapse.js"></script>
<script defer src="assets/js/lazyimage.js"></script>
<script defer src="assets/js/lightbox.js"></script>
<link rel="preload" href="https://giscus.app/client.js" as="script" crossorigin="anonymous">